<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>New Agreement
    </title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h2>New Agreement
              </h2>
            </div>
            <div class="card-body">
              <div id="app">
                <form @submit.prevent="update">
                  <div class="form-group">
                    <label for="text">Email
                    </label> 
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-address-card">
                          </i>
                        </div>
                      </div> 
                      <input v-model="mail" id="text" name="text" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="text1">Notification Date
                    </label> 
                    <input v-model="date"  id="text1" name="text1" class="form-control" type="text">
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input v-model="file" @change="onChange" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                  </div>
                  <span class="badge badge-primary">{{ fileName}} - {{fileSize}}</span>
                  <div class="form-group">
                    <label for="textarea">Notes
                    </label>
                    <textarea v-model="note" placeholder="messege" id="textarea" name="textarea" cols="40" rows="5" class="form-control">
                    </textarea>
                  </div>
                  <div class="form-group">
                    <label for="password">Password
                    </label> 
                    <input v-model="password" placeholder="password"  id="password" name="password" class="form-control" type="text">
                  </div>
                  <div class="form-group">
                    <button name="submit" type="submit" class="btn btn-primary">Submit
                    </button>
                  </div>
                </form>
                <div class="alert alert-primary" role="alert">
                  {{ encObj }}
                </div>
              <div class="alert alert-secondary" role="alert">
                 {{ decObj}}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue">
      </script>
      <script src="https://e-agreement.gitlab.io/app/openpgp.min.js"  crossorigin="anonymous">
      </script>
      <script src="https://e-agreement.gitlab.io/app/e-agreement.js"  crossorigin="anonymous">
      </script>
      </body>
    </html>